*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.pyc
*.xml
*.iml
*.out
*.name

train_logs_PR/*

__pycache__/
.DS_Store
data/MRDA/*.txt
*.csv
*.json
*.pkl
*.xlsx

data/MRDA/backup/*.txt

models/
*.joblib
*.h5
*.hdf5
*.pb
*.ckpt
*.pt
*.pth
*.bin